name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  lint:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        path: code
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11
    - name: debugging
      run: dir -l code
    - name: Install dependencies (flake8)
      run: pip install -r code/.github/workflows/requirements.txt
    - name: Lint
      run: flake8 code/addon --max-line-length=130 --extend-exclude=code/addon/globalPlugins/MathCAT/yaml/*
    - name: type check
      uses: jakebailey/pyright-action@v1
      with:
        working-directory: addon/globalPlugins/MathCAT
        ignore-external: true
        python-version: 3.11
        pylance-version: latest-release